.stih{
    text-align: center;
}

.title{
    text-align: center;
}

h4{
    text-align: right;
    width: 30%;
    margin: 0 auto 100px;
    font-style: italic;
}

h2{
    margin: 10px auto;
}

.image{
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 150px;
    height: 180px;
}

img{
    width: 150px;
    height: 150px;
}

.text{
    font-size:  14pt;
    margin: 7px auto;
}

body{
    display: block;
    margin: auto 5%;
}

ul>li{
    margin: 5px auto;
    font-size: 14pt;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    
}

ul{
    margin-bottom: 40px;
}

.menu{
    margin-bottom: 30px;
}

menu ul{
    position: relative;
}
.menu ul li{
     list-style-type: none;
}

.menu ul ul {
    display: none;   
    position: absolute; 
}

.menu ul li a{
    text-decoration: none;   
    padding: 5px 5px; 
    color: yellow;
    background-color: gray;
}

.menu ul ul a{
    text-decoration: none;    
}

.menu ul ul li{
    display: inline-block;
    margin: 10px auto 20px;
}

.menu li:hover ul{
    display: block;
}

.main div img{
    width: 100%;
    height: 100%;
    margin: 5% auto 0;
}

.main .center img{
    width: 150px;
    height: 180px;
}

.left{
    float: left;
    margin: 0;
    width: 15%;
}

.right{
    float: left;
    margin-left: 90%;
    margin: 0;
    width: 15%;
}
.center{
    position: relative;
    max-width: 960px;
    width: 69%;
    height: 100%;
    float: left;
    align-self: center;
    margin-left: 1mm;
}
.avtor-2{
    margin-left: 75%;
    float:right;
}

.main{
    margin-left: 7%;
}

@media print
{
	.left img, .right img, .image img, .menu li
	{
		display: none;
	}	
}